.widget-container {
  width: 250px;
  padding: 20px;
  border-radius: 15px;
  background-color: var(--background);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background 0.5s ease-in-out;
}

.widget-header {
  text-align: center;
  color: var(--text);
}

.widget-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.widget-temperature {
  font-size: 48px;
  color: var(--text);
}
