.hourly-weather-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  font-size: 0.9em;
  color: var(--text);
}

.hourly-time {
  flex: 1;
  text-align: left;
}

.hourly-icon {
  flex: 0.5;
  text-align: center;
}

.hourly-temp {
  flex: 1;
  text-align: center;
}

.hourly-wind {
  flex: 1.5;
  display: flex;
  align-items: center;
  gap: 4px;
}

.wind-icon {
  color: var(--icon-color);
  scale: 1.5;
}

.direction-icon {
  margin-left: 4px;
  color: var(--icon-color);
  scale: 1.5;
}

/* Rotations for direction icons */
.direction-n {
  transform: rotate(0deg);
}
.direction-ne {
  transform: rotate(45deg);
}
.direction-e {
  transform: rotate(90deg);
}
.direction-se {
  transform: rotate(135deg);
}
.direction-s {
  transform: rotate(180deg);
}
.direction-sw {
  transform: rotate(225deg);
}
.direction-w {
  transform: rotate(270deg);
}
.direction-nw {
  transform: rotate(315deg);
}
