.temperature-gauge-wrapper {
  display: inline-block;
  transform-origin: center; /* Ensure scaling happens from the center */
}

.temperature-gauge-svg {
  overflow: visible;
}

.gauge-arc {
  transition: stroke 0.5s ease-in-out; /* Smooth transition for color changes */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.min-label,
.max-label {
  font-size: 1em;
  fill: var(--text); /* Use the text variable to adapt to theme */
  font-weight: bold;
}

.gauge-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-icon {
  font-size: 3em;
  margin-right: 5px;
}

.current-temperature {
  font-size: 1.5em;
  font-weight: bold;
  color: #ff4500;
}
