body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Light Theme (default) */
:root {
  --background: #ffffff;
  --text: #363537;
  --widget-background: #f0f0f0;
  --icon-color: #f4b004;
  --gauge-border-color: #393939;
}

/* Dark Theme */
[data-theme="dark"] {
  --background: #181818;
  --text: #fafafa;
  --widget-background: #333333;
  --icon-color: #ffa500;
  --gauge-border-color: #e6e6e6;
}
